In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Las Cruces,US,2022-07-23 22:29:05,32.3123,-106.7783,99.19,18,18,9.82
1,1,East London,ZA,2022-07-23 22:29:05,-33.0153,27.9116,58.28,65,77,18.45
2,2,Port Alfred,ZA,2022-07-23 22:29:06,-33.5906,26.8910,56.68,71,94,22.06
3,3,Grebenskaya,RU,2022-07-23 22:29:06,43.5317,46.3733,65.08,90,100,9.08
4,4,Teguise,ES,2022-07-23 22:29:06,29.0605,-13.5640,70.54,80,92,8.37

In [3]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [4]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []

In [13]:
# Heatmap of temperature
# Assign the figure variable.
fig= gmaps.figure()
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp],
                                 dissipating=False, max_intensity=200, point_radius=3)
# Add the heatmap layer.
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Heatmap of percent Cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Heatmap of percent Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [19]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
8,8,Atuona,PF,2022-07-23 22:29:08,-9.8000,-139.0333,77.50,76,33,18.10
10,10,Avarua,CK,2022-07-23 22:29:09,-21.2078,-159.7750,75.25,64,40,8.05
16,16,Maragogi,BR,2022-07-23 22:29:11,-9.0122,-35.2225,75.07,83,16,11.86
23,23,Butaritari,KI,2022-07-23 22:29:13,3.0707,172.7902,81.36,79,23,15.39
36,36,Hithadhoo,MV,2022-07-23 22:29:17,-0.6000,73.0833,81.27,73,100,5.44
39,39,Hilo,US,2022-07-23 22:28:58,19.7297,-155.0900,86.29,94,100,8.05
41,41,Cabo San Lucas,MX,2022-07-23 22:25:49,22.8909,-109.9124,81.09,71,91,4.63
43,43,Portland,US,2022-07-23 22:27:40,45.5234,-122.6762,80.69,30,1,5.10
46,46,Tucurui,BR,2022-07-23 22:29:20,-3.7661,-49.6725,79.99,55,95,4.54
47,47,Baghdad,IQ,2022-07-23 22:28:53,33.3406,44.4009,85.91,19,0,8.05

In [20]:
preferred_cities_df.count()

City_ID       181
City          181
Country       181
Date          181
Lat           181
Lng           181
Max Temp      181
Humidity      181
Cloudiness    181
Wind Speed    181
dtype: int64

In [21]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
8           Atuona      PF     77.50  -9.8000 -139.0333
10          Avarua      CK     75.25 -21.2078 -159.7750
16        Maragogi      BR     75.07  -9.0122  -35.2225
23      Butaritari      KI     81.36   3.0707  172.7902
36       Hithadhoo      MV     81.27  -0.6000   73.0833
39            Hilo      US     86.29  19.7297 -155.0900
41  Cabo San Lucas      MX     81.09  22.8909 -109.9124
43        Portland      US     80.69  45.5234 -122.6762
46         Tucurui      BR     79.99  -3.7661  -49.6725
47         Baghdad      IQ     85.91  33.3406   44.4009

In [30]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}
# Iterate through the DataFrame.

for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
   # Grab the first hotel from the results and store the name.
try:
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
except (IndexError):
    print("Hotel not found... skipping.")

In [31]:
hotel_df.head()

,City,Country,Max Temp,Lat,Lng,Hotel Name
8,Atuona,PF,77.50,-9.8000,-139.0333,Villa Enata
10,Avarua,CK,75.25,-21.2078,-159.7750,Paradise Inn
16,Maragogi,BR,75.07,-9.0122,-35.2225,Salinas do Maragogi All Inclusive Resort
23,Butaritari,KI,81.36,3.0707,172.7902,Isles Sunset Lodge
36,Hithadhoo,MV,81.27,-0.6000,73.0833,Scoop Guest House

In [34]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [36]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [37]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [38]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))